.MerchantAccess {
    background-image: url('/images/GoldSack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    float: right;
}

.MerchantAccess:hover {
    cursor: pointer;
}