@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

.Card {
	height: 300px;
	width: 200px;
	border: 10px solid black;
	border-radius: 5px;
	background-color: black;
	background-image: url('https://i.pinimg.com/originals/8f/b0/7d/8fb07d1d8660048cc089a07047e7e77d.jpg');
	background-size: cover;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding: 10px;
	display: inline-block;
	margin: 10px;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}
.Card:hover {
	cursor: pointer;
	bottom: 2px;
	right: 1px;
}

.Name {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0px;
	font-style: italic;
	font-family: 'Berkshire Swash', cursive;
	background-image: url('https://i.ya-webdesign.com/images/blank-name-tag-png-7.png');
	background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 auto;
	height: 30px;
	margin-bottom: 5px;
}
.Portrait {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
	margin: 0 auto;
	background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}
.Power {
	font-family: 'Odibee Sans', cursive;
	font-size: 15px;
	margin-top: 15px;
	text-align: left;
	font-weight: normal;
	height: 80px;
	width: 90%;
	border: 2px dashed black;
	border-radius: 5%;
	margin: 10px auto 10px auto;
	padding: 5px;
}

.Table {
	border-collapse: collapse;
	border: 2px dashed black;
	width: 100%;
}

.Table td {
	border: 2px dashed black;
}

.StrenghData {

    background-image: url('/images/Icons/Strengh.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.DefenseData {

    background-image: url('/images/Icons/Defense.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.HealthData {

    background-image: url('/images/Health.png');
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center;
}
.LevelData {
	height: 25px;
    background-image: url('/images/Level.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}