.Container {
	width: 20%;
	height: 100%;
	display: inline-block;
	background-size: cover;
	background-image: url('https://tulsaspecialtysales.com/image/132003-full_73-plain-black-wallpapers-on-wallpaperplay.jpg')
}
