.Container {
	font-weight: 800;
	margin-left: 17%;
	width: 80%;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.Title {
	font-size: 40px;
	font-family: 'Righteous', cursive;
	color:white;
	text-shadow: 1px 1px 2px darkred, 0 0 1em darkred, 0 0 0.2em darkred;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}